.button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-back {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 24px;
  gap: 10px;
  border-color: #008ACE;
  border-width: 2px;
  background: #F0E68C;
  border-radius: 3px;
  margin-left: 10px;
}

.excel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.excel-table {
  border-collapse: collapse;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.excel-table th, .excel-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.excel-table th {
  background-color: #f2f2f2;
}

.h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
