<div class="flex-column-frame">
  <div class="alert-container">
    <div class="alert-body alert-bg-success" role="alert" *ngIf="isEmailConfirmed">
      <span class="alert-icon-container">
        <svg class="alert-icon icon-success-fill" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <use xlink:href="assets/icons.svg#success-icon"></use>
        </svg>
      </span>
      <span class="alert-text">Your email was successfully confirmed.</span>
      <span class="alert-button-container" (click)="closeSuccessAlert()">
        <svg class="alert-button-icon" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <use xlink:href="assets/icons.svg#close-icon"></use>
        </svg>
      </span>
    </div>
    <div class="alert-body alert-bg-error" role="alert" *ngIf="!isEmailSent">
      <span class="alert-icon-container">
        <svg class="alert-icon icon-error-fill" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <use xlink:href="assets/icons.svg#error-icon"></use>
        </svg>
      </span>
      <span class="alert-text">{{ errorMessage }}</span>
      <span class="alert-button-container" (click)="closeErrorAlert()">
        <svg class="alert-button-icon" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <use xlink:href="assets/icons.svg#close-icon"></use>
        </svg>
      </span>
    </div>
  </div>
  <div class="confirm-account-form">
    <div class="logo">
      <div>
        <svg class="logo-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15">
          <use xlink:href="assets/icons.svg#logo-icon"></use>
        </svg>
      </div>
      <div class="logo-text-container">
        <span class="logo-text-title">SCHOOL-APP</span>
        <span class="logo-text-descriptor">Marks, lessons</span>
      </div>
    </div>
    <div class="title-text-container">
      <h3 class="title-text">Verify your email</h3>
      <div class="text-container regular-text">We have sent verification link to your e-mail
        <strong>{{email}}</strong>
        Please verify your e-mail address to continue using School-App.
      </div>
      <div class="link-text-container">
        <button (click)="sendConfirmEmail()" class="link-text" type="button">
          Click here
        </button>
        <span class="regular-text">if you didn't receive an e-mail.</span>
      </div>
    </div>
  </div>
</div>
