<app-navbar></app-navbar>
<div class="title-layout">
  <h3 class="title-layout-text-holder">Work with class</h3>
</div>
<button class="button" (click)="navigateToCreateClass()">Create class</button>
<div class="button-separator"></div>
<button class="button" (click)="navigateToAddUserToClass()">Add student to class</button>
<div class="button-separator"></div>
<button class="button" (click)="transferUsers()">Transfer students to next classes</button>
<div class="button-separator"></div>
<button class="button" (click)="navigateToCreateSubject()">Create subject</button>
