<div *ngIf="exercises && exercises.length > 0; else noExercises">
  <div *ngFor="let exercise of exercises" class="exercise-card">
    <h2>Exercise Details</h2>
    <p>Name of Exercise: {{ exercise.name }}</p>
    <p>Description: {{ exercise.description }}</p>
    <p>Date: {{ exercise.date }}</p>
    <button [routerLink]="['/work-rating', exercise.id]" *ngIf="isTeacher()">Check students' works</button>
    <p>Education material</p>
    <app-get-teacher-file [exerciseId]="exercise.id"></app-get-teacher-file>
    <app-file-sending [exerciseId]="exercise.id"></app-file-sending>
  </div>
</div>

<ng-template #noExercises>
  <p>No exercises available.</p>
</ng-template>

<div *ngIf="errorMessage">
  <p>Error: {{ errorMessage }}</p>
</div>
