.exercise-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 250px;

  h3 {
    margin-bottom: 5px;
  }

  /* Add more styling as needed */
}

p {
  color: #777;
  font-style: italic;
}
