<div class="flex-column-frame">
  <div class="alert-container">
    <div class="alert-body alert-bg-error" role="alert" *ngIf="isLogInFailed">
      <span class="alert-icon-container">
        <svg class="alert-icon icon-error-fill" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <use xlink:href="assets/icons.svg#error-icon"></use>
        </svg>
      </span>
      <span class="alert-text">{{ errorMessage }}</span>
      <span class="alert-button-container" (click)="closeErrorAlert()">
        <svg class="alert-button-icon" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <use xlink:href="assets/icons.svg#close-icon"></use>
        </svg>
      </span>
    </div>
  </div>

  <div class="log-in-form">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <div class="title-input">
        <h3 class="title-text">Log in</h3>
        <div class="field-container">
          <div>
            <label for="email" class="label">E-mail</label>
            <label for="password" class="label text-red">*</label>
          </div>
          <div class="field"
            [ngClass]="{'border-error': loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)}">
            <input class="field-text" id="email" name="email" type="email" autocomplete="email" formControlName="email">
          </div>
          <div class="error-label-container"
            *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
            <div *ngIf="loginForm.controls['email'].errors?.['required']" class="label text-red">
              Enter a valid email.
            </div>
            <div *ngIf="loginForm.controls['email'].errors?.['pattern']" class="label text-red">
              Email is not valid.
            </div>
            <div *ngIf="loginForm.controls['email'].errors?.['unavailable']" class="label text-red">
              Email not found in the database.
            </div>
            <div *ngIf="loginForm.controls['email'].errors?.['forbiddenDomain']" class="label text-red">
              Unfortunately, "epam.com" domain-based email address cannot be used.
            </div>
          </div>
        </div>

        <div class="field-container">
          <div>
            <label for="password" class="label">Password</label>
            <label for="password" class="label text-red">*</label>
          </div>
          <div class="field"
            [ngClass]="{'border-error': loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)}">
            <input class="field-text" id="password" name="password" type="password" placeholder="Password" show-password
              [show]="showPassword" formControlName="password">
            <div class="input-icon-container">
              <svg class="input-icon" (click)="togglePassword()"
                [ngClass]="{'hidden': !showPassword, 'block':showPassword }"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <use xlink:href="assets/icons.svg#eye-icon"></use>
              </svg>
              <svg class="input-icon" (click)="togglePassword()"
                [ngClass]="{'block': !showPassword, 'hidden':showPassword }"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
                <use xlink:href="assets/icons.svg#crossed-out-eye-icon"></use>
              </svg>
            </div>
          </div>

          <div class="error-label-container"
            *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">

            <div *ngIf="loginForm.controls['password'].errors?.['required']" class="label text-red">
              Enter a valid password.
            </div>
            <div *ngIf="loginForm.controls['password'].errors?.['minlength']" class="label text-red">
              Password should contain at least 8 symbols.
            </div>
            <div *ngIf="loginForm.controls['password'].errors?.['uppercase']" class="label text-red">
              Password should contain at least one uppercase letter.
            </div>
            <div *ngIf="loginForm.controls['password'].errors?.['lowercase']" class="label text-red">
              Password should contain at least one lowercase letter.
            </div>
            <div *ngIf="loginForm.controls['password'].errors?.['number']" class="label text-red">
              Password should contain at least one digit.
            </div>
            <div *ngIf="loginForm.controls['password'].errors?.['nospaces']" class="label text-red">
              Password shouldn't contain spaces.
            </div>
          </div>
        </div>
      </div>

      <div class="link-text-container__flex-end">
        <a routerLink="/password/forgot" class="regular-text text-grey-60 text-sm">Forgot password?</a>
      </div>

      <div class="button-container">
        <button type="submit" [disabled]="loginForm.invalid" class="button" [class.disabled]="loginForm.invalid">
          <h3 class="link-text text-white">Log in</h3>
        </button>

        <!-- <div class="link-text-container">
          <h5 class="regular-text text-grey-70">Need an account?</h5>
          <a routerLink="/sign-up" class="link-text">Sign up.</a>
        </div> -->
      </div>
    </form>
  </div>
</div>
