<div *ngIf="schoolClass && schoolClass.length > 0; else noSchoolClass">
  <h2>School class users</h2>
  <button routerLink="/main-part" class="button-white">
    <h3 class="link-text text-blue">Back</h3>
  </button>
  <div class="excel-container">
    <table class="excel-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
      <tbody>
          <tr *ngFor="let user of schoolClass">
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noSchoolClass>
  <p>No class users available.</p>
</ng-template>

<div *ngIf="errorMessage">
  <p>Error: {{ errorMessage }}</p>
</div>

